<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-fixed-top">
  <a class="navbar-brand" href="/">
      <h4>Marketplace</h4>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
          <li class="nav-item" *ngIf="user">
              <a class="nav-link" [routerLink] = "['/browse']" >Browse</a>
          </li>
          <li class="nav-item" *ngIf="user">
            <a class="nav-link" [routerLink] = "['/listings']" >My Listings</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="https://github.com/dcsheive/MEAN-Marketplace">Git</a>
          </li>
          
      </ul>
      <a class="nav-link" (click)="logout()" *ngIf="user">Logout</a>
      <a class="nav-link" data-toggle="modal" data-target="#login" *ngIf="!user">Login</a>
      <a class="nav-link" data-toggle="modal" data-target="#register" *ngIf="!user">Register</a>
  </div>
</nav>

<div class="modal" tabindex="-1" role="dialog" id="register">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Login</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form (submit)="register()" #formData='ngForm' id="form1">
            <label for="">First Name: </label>
            <input type="text" name="registerUser.first_name" class="form-control" [(ngModel)]="registerUser.first_name" required #firstname="ngModel" minlength="2"><br>
            <p *ngIf="!firstname.valid && firstname.dirty" class="red">First Name must be 2 characters</p>
            <label for="">Last Name: </label>
            <input type="text" name="registerUser.last_name" class="form-control" [(ngModel)]="registerUser.last_name" required #lastname="ngModel" minlength="2"><br>
            <p *ngIf="!lastname.valid && lastname.dirty" class="red">Last Name must be 2 characters</p>
            <label for="">Email: </label>
            <input type="text" name="registerUser.email" class="form-control" [(ngModel)]="registerUser.email" required #email="ngModel" pattern="^[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$"><br>
            <p *ngIf="!email.valid && email.dirty" class="red">Please enter a valid email</p>
            <label for="">Password: </label>
            <input type="password" name="registerUser.password" class="form-control" [(ngModel)]="registerUser.password" required #password="ngModel" minlength="8"><br>
            <p *ngIf="!password.valid && password.dirty" class="red">Password must be at least 8 characters</p>
            <label for="">Confirm Password: </label>
            <input type="password" name="registerUser.password_confirm" class="form-control" [(ngModel)]="registerUser.password_confirm" required #passwordconfirm="ngModel" minlength="8"><br>
            <p *ngIf="!passwordconfirm.valid && passwordconfirm.dirty" class="red">Please confirm your password</p>
          </form>
        </div>
        <div class="modal-footer">
          <button form="form1" *ngIf="formData.valid" type="submit" class="btn" id="button1">Register</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal" tabindex="-1" role="dialog" id="login">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Login</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form (submit)="login()" #formData2='ngForm' id="form2">
            <p *ngIf="loginMessage" class="red">{{loginMessage.message}}</p>
            <label for="">Email: </label>
            <input type="text" name="loginUser.email" class="form-control" [(ngModel)]="loginUser.email" required><br>
            <label for="">Password: </label>
            <input type="password" name="loginUser.password" class="form-control" [(ngModel)]="loginUser.password" required #password2="ngModel"><br>
          </form>
        </div>
        <div class="modal-footer">
          <button form="form2" *ngIf="formData2.valid" type="submit" class="btn" id="button1">Login</button>
        </div>
      </div>
    </div>
  </div>